{% extends 'dashboard.html.twig' %}


{% block stylesheets2 %}
	<link href="/vendor/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">
	<link href="/assets/users/users.css" rel="stylesheet">
{% endblock %}


{% block dashboardcontent %}

	{% if is_granted('ROLE_CLUB_MANAGER') %}
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createStudentModal">{% trans %}Add{% endtrans %}</button>

		<div class="modal fade" id="createStudentModal" tabindex="-1" role="dialog" aria-labelledby="createStudentModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="createStudentModalLabel" style="white-space: nowrap;">{% trans %}New student{% endtrans %}</h5>
						<div id="created_message" style="padding: 5px; color: #2a9225;display:none;">{% trans %}User created{% endtrans %} :
							<span id="name_created"></span>
						</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="student_dialog">
						<form id="student_form" action="/api/user" method="POST" class="needs-validation" novalidate>
							<div class="row">
								<div class="col"> {# <!-- ========= lastname ========= --> #}
									<input type="text" name="lastname" class="form-control" placeholder="{% trans %}Lastname{% endtrans %}" required>
									<div class="invalid-feedback"></div>
								</div>
								<div class="col"> {# <!-- ========= firstname ========= --> #}
									<input type="text" name="firstname" class="form-control" placeholder="{% trans %}Firstname{% endtrans %}" required>
									<div class="invalid-feedback"></div>
								</div>
							</div>
							<div class="row">
								<div class="col"> {# <!-- ========= birthday ========= --> #}
									<input type="text" name="birthday" class="form-control" id="birthday-name" placeholder="{% trans %}Birthday{% endtrans %}" required>
									<div class="invalid-feedback"></div>
								</div>
								<div class="col"> {# <!-- ========= sex ========= --> #}
    								<div class="btn-group btn-group-toggle" data-toggle="buttons">
    									<label class="btn btn-outline-secondary">
    										<input type="radio" name="sex" id="sex_female" autocomplete="off" value="F"> {% include 'svg/female.svg' %} {% trans %}Female{% endtrans %}
    									</label>
    									<label class="btn btn-outline-secondary">
    										<input type="radio" name="sex" id="sex_male" autocomplete="off" value="M"> {% include 'svg/male.svg' %} {% trans %}Male{% endtrans %}
    									</label>
    								</div>
    								<div class="invalid-feedback"></div>
								</div>
							</div>
							<div class="row"> {# <!-- ========= address ========= --> #}
								<div class="col">
    								<input type="text" name="address" class="form-control" placeholder="{% trans %}Address{% endtrans %}" required>
    								<div class="invalid-feedback"></div>
    							</div>
							</div>
							<div class="row">
								<div class="col"> {# <!-- ========= zipcode ========= --> #}
									<input type="text" name="zipcode" class="form-control" placeholder="{% trans %}Zipcode{% endtrans %}" required>
									<div class="invalid-feedback"></div>
								</div>
								<div class="col"> {# <!-- ========= city ========= --> #}
									<input type="text" name="city" class="form-control" placeholder="{% trans %}City{% endtrans %}" required>
									<div class="invalid-feedback"></div>
								</div>
							</div>
							<div class="row">
								<div class="col"> {# <!-- ========= phone ========= --> #}
									<input type="text" name="phone" class="form-control" placeholder="{% trans %}Phone{% endtrans %}" required>
									<div class="invalid-feedback"></div>
								</div>
								<div class="col"> {# <!-- ========= phone_emergency ========= --> #}
									<input type="text" name="phone_emergency" class="form-control" placeholder="{% trans %}Phone emergency{% endtrans %}" required>
									<div class="invalid-feedback"></div>
								</div>
							</div>
							<div class="row"> {# <!-- ========= nationality ========= --> #}
								<div class="col">
    								<input type="text" name="nationality" class="form-control" placeholder="{% trans %}Nationality{% endtrans %}" required>
    								<div class="invalid-feedback"></div>
    							</div>
							</div>
							<div class="row"> {# <!-- ========= emails ========= --> #}
								<div class="col">
    								<input type="text" name="mails" class="form-control" placeholder="{% trans %}Emails{% endtrans %}" required>
    								<div class="invalid-feedback"></div>
    							</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
						{#<button id="submitCreate" type="button" class="btn btn-primary">{% trans %}Create{% endtrans %}</button>#}
						<button id="submitCreateAndAddNew" type="button" class="btn btn-primary">{% trans %}Create and add new{% endtrans %}</button>
					</div>
				</div>
			</div>
		</div>

		<br/>
		<br/>
	{% endif %}

	<table class="table clickable" id="table-users">
		<thead>
			<tr>
				<th scope="col" class="table-col-sex">&nbsp;</th>
				<th scope="col">{% trans %}Lastname{% endtrans %}</th>
				<th scope="col">{% trans %}Firstname{% endtrans %}</th>
				<th scope="col" class="table-col2">{% trans %}Birthday{% endtrans %}</th>
				<th scope="col" class="table-col3">{% trans %}Adress{% endtrans %}</th>
				<th scope="col" class="table-col4">{% trans %}Phone{% endtrans %}</th>
				<th scope="col" class="table-col5">{% trans %}Nationality{% endtrans %}</th>
				<th scope="col" class="table-col6">{% trans %}Mails{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr id="{{ user.uuid }}">
					<td class="table-col-sex">
						{% if user.sex == 'F' %}
							{% include 'svg/female.svg' %}
						{%  elseif user.sex == 'M' %}
							{% include 'svg/male.svg' %}
						{%  else %}
							&nbsp;
						{% endif %}
					</td>
					<th scope="row">{{ user.lastname | default('') }}</th>
					<td scope="row">{{ user.firstname | default('') }}</td>
					<td scope="row" class="table-col2">
						{{ user.birthday.date_fr | default('') }}<br>
						{% trans with {'%age%': user.birthday.age_in_year | default('')} %}%age% years old{% endtrans %}
					</td>
					<td scope="row" class="table-col3">
						{{ user.address | default('') }}<br>
						{{ user.zipcode | default('') }}&nbsp;{{ user.city | default('') }}
					</td>
					<td scope="row" class="table-col4">
						{{ user.phone | default('') }}<br>
						{{ user.phone_emergency | default('') }}
					</td>
					<td scope="row" class="table-col5">{{ user.nationality | default('') }}</td>
					<td scope="row" class="table-col6">{{ user.mails | default('') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}


{% block javascriptsafter1 %}
	<script src="/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	<script src="/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js" charset="UTF-8"></script>
	<script type="text/javascript">
		{#
		// https://uxsolutions.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=4&todayBtn=false&clearBtn=false&language=fr&orientation=auto&multidate=&multidateSeparator=&calendarWeeks=on&keyboardNavigation=on&forceParse=on#sandbox
		#}
		var maxDate = new Date();
		maxDate.setFullYear(maxDate.getFullYear() - 2);
		var minDate = new Date();
		minDate.setFullYear(minDate.getFullYear() - 100);
		var startDate = new Date();
		startDate.setFullYear(startDate.getFullYear() - 10);
		$('#birthday-name').datepicker({
			startDate: minDate,
			endDate: maxDate,
			defaultViewDate: startDate,
			language: 'fr',
			calendarWeeks: true
    	});
	</script>
	<script src="/assets/users/users.js"></script>
{% endblock %}
